<div class="container mt-5">
  <%= link_to  admin_developers_path, class: "btn btn-secondary ml-2 pl-3 pr-3" do%>
    <i class="fa fa-arrow-left mr-2 "></i>Back
  <% end %>
  <%= link_to  admin_developer_path(@developer), class: "btn btn-secondary ml-2 pl-3 pr-3" do%>
    <i class="fa fa-eye mr-2 "></i>Show
  <% end %>
  <h2 class="text-center">Editing Developer</h2>

  <%= render 'form', developer: @developer %>
</div>