<div class="container mt-5 mb-5">
  <%= link_to  admin_developers_path, class: "btn btn-secondary ml-2 pl-3 pr-3" do%>
    <i class="fa fa-arrow-left mr-2"></i>Back
  <% end %>
  <h2 class="text-center">New Developer</h2>

  <%= render 'form', developer: @developer %>
</div>