<div class="jumbotron">
  <h1 class="display-4 text-center mb-4">Find Your Developer</h1>
  <div class="col-md-11 mx-md-auto">
    <div class="card mb-3">
      <div class="card-body p-5">
        <%= form_for :search_developer, url: "#", method: :get do |f| %>
          <div class="row">
            <div class="col-md-3">
              <%= f.select :skill, options_for_select(Skill.all.map{|s| [s.name, s.id]}), { prompt: "Select Skill" }, { class: "form-control" } %>
            </div>
            <div class="col-md-7">
              <%= f.text_field :address, class: "form-control", id: "autocomplete", onFocus: "geolocate()", placeholder: "Search by Location" %>
            </div>
            <div class="col-md-2">
              <%= f.submit "Search", class: "btn btn-primary btn-block" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <p class="lead text-center">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <div class="text-center">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
</div>