.disply-4-site {
  color: #0f7ddc;
  font-weight:bold;
}
.lead-p-site {
  color: #222;
  font-size:15px;
}
.jumbo-site {
  background-color: #0f7ddc;
}
.form-blok-area .form-control{
  border-radius:0px;    
}

