.disply-4-site {
  color: #0f7ddc;
  font-weight:bold;
}
.lead-p-site {
  color: #222;
  font-size:15px;
}
.jumbo-site {
  background-color: #0f7ddc;
}
.form-blok-area .form-control{
  border-radius:0px;    
}

#map {
  width: 110%;
  height:700px;
}
.custom-box {
  border-radius: 0px !important;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
  border:1px solid #ccc;
}
